#cover {
  background-color:#003056;
}

#cover h2 {
  margin:30px 0 0;
  color:#F2D03B;
  text-align:center;
  font-size:70px;
}

#cover p {
  margin:10px 0 0;
  text-align:center;
  color:lightgray;
  font-style:italic;
  font-size:20px;
}

#cover p a {
  color:#FFF;
}

li.large {
  font-size: 42px;
}

li.medium {
  font-size: 38px;
}

#red {
  color: red;
}

.screenshot {
  border: 1px solid black;
}

.screenshot.md {
  width: 70%;
}

.screenshot.sm {
  position: absolute;
  right: 15%;
  bottom: 15%;
  width: 40%;
}

.slide::after {
  content: unset;
}
